
/*============= MuseoSans Font Starts ============*/
@font-face {
    font-family: Lato-Regular;
    font-weight: 500;
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
/*============= MuseoSans Font Ends ============*/
/*============= Material Icon Css Start ========*/
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
/*body{
    font-family: Lato-Regular;
}*/
/*============= Material Icon Css End ========*/

/*============= Main CSS Start ===========*/
.c-navabr-bgcolor{
    background-color: #fafafa;
    border-radius: 0;
    margin:0;
    height:65px;
    border:none;
    box-shadow: 0 1px 2px #ddd;
}
.navbar-addshadow{
    box-shadow: 0 6px 12px #ddd;
}
.c-navbar-container .c-navbar-left-item li > a, .c-navbar-container .c-navbar-right-item li > a{
    padding:18px 15px;
    line-height: 10px;
    color:rgb(103, 106, 108);
}
.c-navbar-container .c-navbar-left-item li > .sidenav-icon-bar:hover svg > path#bar_icon{
    fill:#000;
}
.c-navbar-container .c-navbar-left-item li > .c-brand-logo, .c-navbar-container .c-navbar-right-item li > a{
    line-height: 29px;
}
.c-navbar-container .c-navbar-left-item li > .c-brand-logo{
    font-size:20px;
}
.c-navbar-container .c-navbar-right-item li > .c-login-signup{
    font-size: 18px;
}
.c-navbar-container .c-navbar-form{
    margin:13px 40px 13px 0;
}
.c-navbar-form .c-input-group > input[type="text"]{
    height:39px; 
    padding: 6px 0 6px 22px;
}
.c-navbar-form .c-input-group-fields > input[type="text"]{
    box-shadow: inset 0 0 0 0; 
}
.c-navbar-form .c-input-group-common >input[type="text"], .c-navbar-form .c-input-group-common > .c-input-group-addon{
    border:none;
    background-color:#fff;
}
.c-form-max-width{
    max-width:500px;
    width:100%;
}
.c-input-group{
    box-shadow: 0 2px 2px #ddd;
    border-radius: 20px;
}
.c-form-max-width .c-input-group-fields{
    width: 100%;
}
.c-navbar-form .c-input-border-radius-tb-l > input[type="text"]{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.c-navbar-form .c-input-border-radius-tb-r > .c-input-group-addon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.c-input-group .c-input-group-addon{
    padding: 0;
    line-height: 37px;
}
.c-input-group-addon svg{
    vertical-align: middle;
}

.banner-container{
    padding-top: 64px;
}
.m--18{
    margin:19.6% 0;
}
/*.banner-conatiner-content h1{
    margin:0;
    color:#676a6c;
}*/
.header-main-container{
    padding:95px 0px;
}
.mission-container, .contact-container, .risk-manage-container, .robotic-container{
    background-color: rgba(242, 242, 242, 0.5);
}
.image-width{
    width:100%;
}
.m-b-20{
    margin:0 0 20px;
}
.text-color-voliet-blue{
    color:#1e266d;
}
.about-content, .mission-content, .investment-content, .risk-manage-content, .digital-content, .robotic-content{
    padding:20px;
}
.about-content p, .mission-content p, .digital-content p, .robotic-content p{
    font-size: 16px;
    line-height:29px;
    color: rgba(103, 106, 108, 0.9);
    font-family: Lato-Regular;
    text-align: justify;
}
.services-content p{
    font-size: 16px;
    line-height:29px;
    color: rgba(103, 106, 108, 0.9);
    text-align: center;
    font-family: Lato-Regular;
}
.c-list-group{
    padding:0;
    list-style: none;
}
.c-list-group li > svg{
    vertical-align: middle;
    margin-right: 10px;
}
.c-list-group li > span{
    font-size: 16px;
    color:rgba(103, 106, 108, 0.9);
}
.c-list-group li{
    line-height: 25px;
}
.contact-form-container, .map-address-content{
    padding:25px;
    background-color: #fff;
    box-shadow: 0 2px 4px #ccc;
}
.c-form-group label{
    margin-bottom:10px;
    font-size: 16px;
    color:#676a6c;
}
.c-form-group input[type="text"], .c-form-group input[type="email"]{
    height:48px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0;
    font-size: 15px;
    transition: all 0.6s ease-in-out;
}
.c-form-group input[type="text"]:hover, .c-form-group input[type="email"]:hover{
    border-color:#1e266d;
}
.c-form-group input[type="text"]:focus, .c-form-group input[type="email"]:focus{
    box-shadow: none;
    border-color:#1e266d;
}
.contact-text h1{
    margin-bottom:25px;
}
.c-form-group{
    margin-bottom:20px;
}
.c-input-group-common .c-input-group-addon:hover svg > path#search_icon{
    fill:#000;
}
.c-form-group textarea{
    resize: none;
    border-radius: 8px;
    box-shadow: inset 0 0 0 0;
    font-size: 15px;
    transition: all 0.6s ease-in-out;
}
.c-form-group textarea:hover{
    border-color:#212121;
}
.c-form-group textarea:focus{
    box-shadow: none;
    border-color:#1e266d;
}
.footer-logo h1{
    margin:0
}
.footer-main-container{
    padding:30px 0 30px;
}
.footer-content span{
    color:#111;
    font-size: 16px;
}
.copyright-container{
    background-color:#fff;
    padding:20px 0;
    box-shadow: 0 -1px 3px #ddd;
    color:#2e353f;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}
.footer-shadow{
    box-shadow: 0 -6px 12px #ddd;
    /*hsla(0, 0%, 87%, 0.5);*/
    transition: all 0.6s;
}
.readmore-btn{
    background-color: #ff0066;
    color: #fff;
    border: 1px solid #ff0066;
    outline: none;
    padding: 12px 25px;
    transition: all 0.5s ease-in-out;
    font-size:16px;
    font-family: Lato-Regular; 
}
.readmore-btn:hover, .readmore-btn:focus, .readmore-btn:active:focus{
    background-color: #ff0066;
    color: #fff;
    border: 1px solid #ff0066;
    outline: none;
}
.send-btn{
    background-color: rgba(255, 0, 102, 0.7);
    color: #fff;
    border: 2px solid rgba(255, 0, 102, 0.7);
    outline: none;
    padding: 15px 25px;
    transition: all 0.5s ease-in-out;
    font-size:16px;
    font-family: Lato-Regular;
}
.send-btn:hover, .send-btn:focus, .send-btn:active:focus{
    background-color:#ff0066;
    color:#fff;
    border: 2px solid #ff0066;
    outline: none;
}
.social-icons{
	margin:30px auto;
}
.social-icons span{
	font-size: 15px;
    vertical-align: text-bottom;
}
.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	background-color: #fff;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}
.social-circle i {
	color: #1e266d;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.address-container > ul{
   padding:0;
   list-style: none;
}
.address-container h3{
    margin: 0 0 15px;
}
.address-container .address-content p > svg{
    vertical-align: top;
}
.address-container .address-content{
    margin-bottom:6px;
    color:#676a6c;
    font-size: 16px;
    font-family: Lato-Regular;
}
.address-container .address-content p > span{
    padding-left: 10px;
    display: inline-block;
}
.address-container .address-content p:last-child{
    margin-bottom:0;
}
.map-padding {
    padding:20px 15px 0;
}
.m-t-10{
    margin-top:10px;
}
#scroll {
    position:fixed;
    right:20px;
    bottom:80px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#1e266d;
    border:1px solid #1e266d;
    /*#ff0066 */
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    box-shadow: 0 2px 4px #ada3a3;
    transition: all 0.3s ease-in-out;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#fff;
}
#scroll:hover {
    background-color:#1e266d;
    border:1px solid #1e266d;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
#scroll:hover span{
    border-bottom-color:#fff;
}
.    vi {
    padding: 15px;
    border-bottom:none;
}
.text-right button{
    margin-bottom:5px;
}
.input-border .form-group > input[type="text"]:focus{
    box-shadow: inset 0 0 0 0;
}

.mobile-navbar{
    background-color: #fafafa;
    border-radius: 0;
    margin: 0;
    border: none;
    height:60px;
    box-shadow: 0 1px 2px #ddd;
}
.mobile-navbar-link{
    list-style: none;
    padding: 0;
    display: inline;
}
.mobile-navbar-link li{
    float: left;
}
.mobile-navbar-link li > a{
    display: inline-block;
    padding: 15px 12px;
    line-height: 13px;
}
.mobile-navbar-link li > .mobile-brand-logo{
    line-height: 30px;
    font-size: 26px;
    margin-left: 70%;
    color:#1e266d;
    text-decoration: none;
}
.mobile-navbar-link li:last-child{
    max-width: 150px;
    width: 100%;
}
.mobile-login-link{
    display: inline;
    list-style: none;
    padding: 0;
    float: right;
}
.mobile-login-link li{
    float: right;
}
.mobile-login-link li > a{
    display: inline-block;
    padding: 15px 12px;
    line-height: 13px;
}
.map-content,{
    background-color: #fff;
    box-shadow: 0 1px 4px #ddd;
}
.mapouter{
    position:relative;
    text-align:right;
    height:300px;
    width:505px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:505px;
}
.p-0{
    padding:0;
}
.follow-us{
    position: fixed;
    width: 50px;
    height: 50px;
    text-align: center;
    bottom: 20%;
    padding: 14px 0;
    background-color: #fff;
    color: #1e266d;
    box-shadow: 0 2px 4px #ada3a3;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.2s ease-in-out;
}
.follow-us:hover{
    background-color: #1e266d;
    color:#fff;
    width:150px;
}
.follow-us i{
    font-size: 22px;
}
/*============= Main CSS End ===========*/

/* The side navigation menu */
.sidenav-on .sidenav{
    width:350px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
}
.sidenav-on .sidebar__nav{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.sidenav {
    width:0;
    height: 100vh;
    padding: 0;
    background-color: #fff;
    /* overflow-y: auto; */
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1031;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s 
}
/* The navigation menu links */
.sidenav .sidenav-header {
    margin-bottom: 80px;
}
.sidebar__nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    position: relative;
}
.sidebar__nav a{
    color: #000 !important;
    font-size: 24px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.0 !important;
    text-decoration: none;
    font-weight: 300;
    transition:  0.2s ease-in-out;
} 
.sidebar__nav a:hover{
    color:#000;
}
.sidebar__nav a:hover svg > g > path#home,  .sidebar__nav a:hover svg > g > path#about, 
.sidebar__nav a:hover svg > g > path#services, .sidebar__nav a:hover svg > g > path#training,
.sidebar__nav a:hover svg > g > path#careers, .sidebar__nav a:hover svg > g > path#contact{
    fill:#000;
}

.sidebar__nav a > svg{
    width: 24px;
    height: 24px;
    margin-right: 30px;
}
.btn-close svg{
    width: 14px;
    height: 14px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btn-close{
    background-color: transparent;
    border: 1px solid #2e353f !important;
    min-width: 26px;
    height: 26px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}
.btn-close:hover {
    background-color: #2e353f;
    color: #fff;
}
.sidenav-on .sidenav .btn-close {
    opacity: 1;
    visibility: visible;
}
.btn-close:hover > svg > polygon#close_icon{
    fill:#fff;
}
.sidenav .btn-close {
    opacity: 0;
    visibility: hidden;
    float:right;
}
.common-position-rel{
    position: relative;
}
.about-triangle{
   position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 483px solid transparent;
    border-left: 734px solid rgba(233, 237, 247, 0.5);
    border-right: 699px solid rgba(233, 237, 247, 0.5);
    border-bottom: 0px solid transparent;
}
.custom-slider-content .item > img{
    height:calc(100vh - 128px);
}
.slider-position-rel{
    position: relative;
}
.overlay__first, .overlay__second{
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.6);
    top:0;
    left:0;
    color:#fff;
}
.overlay__caption__first{
    width:600px;
    margin:0 auto;
    text-align: center;
    padding:14.7% 0;
}
.overlay__caption__second{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 13.2% 0;
}
.overlay__caption__first h1, .overlay__caption__second h1{
    font-size: 42px;
    margin:0 0 15px;
    font-family: Lato-Regular;
}
.overlay__para__first{
    width: 470px;
    margin: 0 auto;
}
.overlay__para__second{
    width: 500px;
    margin: 0 auto;
}
.overlay__para__first p, .overlay__para__second p{
    font-size: 18px;
    margin:0 0 25px;
    font-family: Lato-Regular;
}
.careers-container{
    background-color:rgba(233, 237, 247, 0.2);
    color:#676a6c;
}
.services-sub-container{
    font-size: 16px;
    box-shadow: 0 3px 7px #ddd;
    background-color:#fff;
    padding:25px;
}
.services-sub-container p{
    text-align: justify;
    font-family: Lato-Regular;
}
.services-sub-container h4{
    color:#000;
    font-weight:500px;
}
.m-b-25{
    margin-bottom:25px;
}
.m-b-30{
    margin-bottom:30px;
}
.m-t-b-83{
    margin: 83px 0;
}
.m-t-b-100{
    margin:100px 0;
}
.border-btm{
    border-top: 10px solid #1e266d;
}
.career-panel{
    background-color:#fff;
    border-color:rgba(233, 237, 247, 0.5);
    box-shadow:0 1px 3px #ddd, 0 2px 6px #ddd;
    margin-bottom:20px !important;
}
.career-panel .career-panel-heading{
    border-color:rgba(233, 237, 247, 0.5);
    background-color:rgba(233, 237, 247, 0.5);
}
.career-panel .career-panel-heading > h4{
    font-size:20px;
    font-weight:400;
    font-family: Lato-Regular;
}
.career-panel .career-panel-heading > h4 > a{
    text-decoration:none;
    display: block;
    padding: 25px;
    color:#676a6c;
    font-family: Lato-Regular;
}
.career-panel .career-panel-heading > h4 > a:hover{
    color:#000;
}
.carerr-panel-body p{
    font-size: 16px;
    font-family: Lato-Regular;
    line-height: 25px;
}
.career-panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   color:#1e266d;
   transition: all 0.5s;
}
.career-panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 
.owl-dots{
    display: none;
}
.service-single-tab ul > li a {
    color:#000;
    text-decoration: none;
    padding:30px 25px;
    display: inline-block;
    margin-left: -3px;
    -webkit-box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.06);
    font-family: Lato-Regular;
    font-size:16px;
    transition: all 0.3s ease-in-out;
}

.service-single-tab ul > li{
    list-style:none; 
    display: inline-block;
    background-color:#fff;   
}
.service-single-tab ul > li.active{
    background-color:#193e85;
    color:#fff; 
}
.service-single-tab ul > li.active > a{
    color:#fff;
}
.service-single-tab ul > li a:hover{
    background-color:#193e85;
    color:#fff;
}
.service-details{
    padding: 10px 30px;
    line-height: 25px;
    text-align: justify;
    font-size: 16px;
    font-family: Lato-Regular;
}
.tab-pane{
    background-color:#fff;
}
.no-padding{
    padding:0;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding:0px;}
    .sidenav a {font-size: 24px;}
}




/*==================== Media Queries =====================*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}